.center-align{
	text-align: center;
}

.padded{
	padding-left: 50px;
	border: 4px solid #000;
}

.padded2{
	padding-left: 100px;
	border: 4px solid #000;
}

.padded3{
	padding-left: 250px;
	border: 4px solid #000;
}

.background{
	margin: 0px;
	background-color: mediumaquamarine;
	height: 850px;
}

.underline{
	text-decoration: underline;
	background-color: orangered;
	text-align: center;
}

.beside{
	float: right;
}

header{
	margin: 0px;
	background-color: darkgoldenrod;
}

a{
	margin: 0px;
	color: rebeccapurple;
}

.hover-react{
	background-color: white;
}

.hover-react:hover{
	background-color: lightgrey;
	cursor: pointer;
}

nav{
	margin: 0px;
	background-color: orange;
}

h1{
	margin: 0px;
}

h3{
	margin: 0px;
}

.nav{
	height: 30px;
	background-color: blue;
}